[Desktop Entry]
Version=1.0
Name=PwManager
Exec=python3 /home/carlo/pwmanager/pwmanager.py
Path=/home/carlo/pwmanager/
Icon=/home/carlo/pwmanager/pwmanager_icon.png
Terminal=true
Type=Application
Categories=Utility

