[Desktop Entry]
Version=1.0
Name=PwManager
Exec=python3 /home/[username]/pwmanager/pwmanager.py
Path=/home/[username]/pwmanager/
Icon=/home/[username]/pwmanager/pwmanager_icon.png
Terminal=true
Type=Application
Categories=Utility

